# 04 â€“ Best Model via AUC

This notebook trains several classification models using the provided loan dataset and
selects the best-performing model based on the Area Under the ROC Curve (AUC).
Both the training and test CSV files are utilized so that the final, best model can
produce predictions for the held-out test set.

In [1]:
import sys
import os
sys.path.append(os.path.abspath(".."))
import pandas as pd
import numpy as np
from pathlib import Path

from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.model_selection import cross_val_score, StratifiedKFold

DATA_DIR = Path('../data')
train_path = DATA_DIR / 'train.csv'
test_path = DATA_DIR / 'test.csv'

train_df = pd.read_csv(train_path)
test_df = pd.read_csv(test_path)

train_df.head()

,id,annual_income,debt_to_income_ratio,credit_score,loan_amount,interest_rate,gender,marital_status,education_level,employment_status,loan_purpose,grade_subgrade,loan_paid_back
0,0,29367.99,0.084,736,2528.42,13.67,Female,Single,High School,Self-employed,Other,C3,1.0
1,1,22108.02,0.166,636,4593.10,12.92,Male,Married,Master's,Employed,Debt consolidation,D3,0.0
2,2,49566.20,0.097,694,17005.15,9.76,Male,Single,High School,Employed,Debt consolidation,C5,1.0
3,3,46858.25,0.065,533,4682.48,16.10,Female,Single,High School,Employed,Debt consolidation,F1,1.0
4,4,25496.70,0.053,665,12184.43,10.21,Male,Married,High School,Employed,Other,D1,1.0

In [4]:
# keep a random sample of 10000 rows for training and testing
train_df.head()

train_df = train_df.sample(n=10000, random_state=42)

train_df.head()

# count the number of rows in train_df
train_df.shape

(10000, 13)

The training data includes the `loan_paid_back` target column that we want to model.
The test data shares the same feature columns (minus the target), which we will use
for generating predictions once the best model is selected.

In [ ]:
# are there any outliers?
def find_outliers_iqr(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = df[(df[column] < lower_bound) | (df[column] > upper_bound)]
    return outliers

outliers = find_outliers_iqr(train_df, 'loan_amount')
print(outliers)

            id  annual_income  debt_to_income_ratio  credit_score  \
55420    55420       62428.77                 0.134           645
403710  403710       35753.43                 0.264           745
284223  284223       82729.14                 0.072           638
67717    67717       37238.37                 0.085           674
564071  564071       75869.51                 0.050           663
228837  228837       23953.18                 0.071           531
469525  469525       13139.25                 0.247           618
440482  440482       53622.51                 0.099           645
39576    39576       75862.47                 0.051           683
251467  251467       28142.02                 0.071           633
237394  237394       88076.08                 0.114           628
434682  434682      143217.68                 0.084           628
497585  497585       83494.39                 0.038           688
246280  246280       59565.46                 0.231           663
77875    77875       39463.01                 0.207           641
336601  336601       33756.29                 0.090           711
58125    58125       13791.43                 0.321           741
282605  282605       24583.58                 0.081           699
411697  411697       23498.12                 0.078           779
291795  291795       48630.38                 0.157           733
259066  259066       10590.43                 0.084           545
92071    92071       28012.23                 0.201           724
407891  407891       44940.72                 0.078           656
160465  160465       44275.77                 0.037           712
367182  367182       64782.54                 0.111           683
41733    41733       28991.01                 0.181           656
282962  282962      139324.08                 0.190           687
192422  192422       14199.19                 0.074           666
391484  391484       74043.16                 0.130           710
256989  256989       28767.79                 0.093           639
275319  275319       14199.07                 0.236           736
142795  142795        9304.62                 0.060           674
363161  363161       15757.92                 0.464           713
553216  553216       33298.18                 0.127           678
391783  391783       48313.14                 0.085           619
546833  546833       23126.73                 0.063           664
180258  180258       79724.53                 0.053           690
361365  361365       28805.80                 0.189           633
351981  351981       27002.72                 0.090           729
428581  428581       26991.83                 0.189           724
465086  465086       71873.58                 0.183           612
122211  122211       33121.70                 0.108           697
372775  372775       93492.98                 0.226           699
46030    46030       24249.96                 0.148           721
499206  499206       18999.39                 0.086           652
40132    40132       33134.03                 0.087           615
264128  264128       17500.00                 0.164           741
345288  345288       59581.00                 0.084           689
241741  241741       86501.13                 0.189           746

        loan_amount  interest_rate  gender marital_status education_level  \
55420      34355.72          13.75  Female        Married             PhD
403710     34116.40          12.47  Female        Married      Bachelor's
284223     33511.90          14.79    Male        Married      Bachelor's
67717      39194.07          13.07  Female        Married        Master's
564071     41972.76          11.72  Female         Single           Other
228837     34390.95          14.80    Male        Married      Bachelor's
469525     32236.56          13.36  Female        Married        Master's
440482     36895.06          14.49    Male         Single      Bachelor's
39576      40332.29          15.54    Male        Married      Bachelor's
251467     34170.73          15.38    Male        Married     High School
237394     34490.98          15.47    Male        Married           Other
434682     34133.83          15.07  Female         Single      Bachelor's
497585     32689.69          12.86    Male         Single     High School
246280     33399.06          12.22    Male         Single      Bachelor's
77875      32836.85          10.53  Female       Divorced     High School
336601     33015.00          11.25  Female        Married     High School
58125      33147.47          12.04    Male         Single      Bachelor's
282605     40367.72          10.06  Female        Married     High School
411697     44715.53          13.60    Male        Married             PhD
291795     37251.11          11.60    Male        Married     High School
259066     44715.63          15.31  Female         Single        Master's
92071      40612.47          14.05  Female        Widowed     High School
407891     35310.74          13.60  Female         Single      Bachelor's
160465     34248.49          11.42    Male        Married      Bachelor's
367182     34355.73          11.04    Male         Single      Bachelor's
41733      41982.22          13.56    Male         Single           Other
282962     34248.33          13.97  Female         Single      Bachelor's
192422     38314.35          14.34    Male         Single     High School
391484     33391.93          10.94    Male         Single     High School
256989     34403.85          12.65    Male         Single           Other
275319     35507.94          13.24  Female        Married           Other
142795     32040.69           9.92  Female         Single        Master's
363161     33324.89          10.11    Male        Married      Bachelor's
553216     47798.75          10.45  Female         Single        Master's
391783     34178.87          13.70    Male        Married      Bachelor's
546833     39226.23          13.10  Female         Single     High School
180258     32083.26          11.54  Female        Married        Master's
361365     34386.15          12.11    Male         Single           Other
351981     40705.85          10.44    Male         Single     High School
428581     37031.87          12.56  Female         Single      Bachelor's
465086     38837.51          15.75  Female         Single           Other
122211     34406.94          13.36  Female        Married     High School
372775     32046.37          11.57  Female         Single      Bachelor's
46030      35483.99           8.90  Female         Single        Master's
499206     32260.75          12.41  Female        Married      Bachelor's
40132      34704.78          12.02    Male        Married      Bachelor's
264128     42002.96          11.47  Female         Single     High School
345288     32052.46          12.09    Male         Single     High School
241741     33189.00          11.53  Female        Married      Bachelor's

       employment_status        loan_purpose grade_subgrade  loan_paid_back
55420      Self-employed            Vacation             D5             1.0
403710        Unemployed            Business             B2             0.0
284223          Employed           Education             D5             1.0
67717           Employed  Debt consolidation             C2             1.0
564071          Employed  Debt consolidation             D2             1.0
228837        Unemployed                Home             F1             0.0
469525          Employed  Debt consolidation             D4             1.0
440482          Employed  Debt consolidation             D1             1.0
39576           Employed  Debt consolidation             C5             1.0
251467        Unemployed  Debt consolidation             D1             0.0
237394           Student  Debt consolidation             D1             0.0
434682          Employed  Debt consolidation             D5             1.0
497585          Employed                 Car             C4             1.0
246280        Unemployed  Debt consolidation             D3             0.0
77875         Unemployed                 Car             D1             0.0
336601          Employed                Home             C3             1.0
58125           Employed             Medical             B2             0.0
282605          Employed             Medical             C5             1.0
411697     Self-employed  Debt consolidation             B5             1.0
291795        Unemployed  Debt consolidation             C2             1.0
259066          Employed                 Car             F5             1.0
92071           Employed  Debt consolidation             C1             1.0
407891     Self-employed  Debt consolidation             D2             1.0
160465          Employed           Education             C1             1.0
367182          Employed               Other             C5             1.0
41733      Self-employed  Debt consolidation             D4             1.0
282962        Unemployed               Other             C4             0.0
192422        Unemployed                 Car             D1             0.0
391484           Retired  Debt consolidation             C5             1.0
256989          Employed                 Car             D1             1.0
275319           Student  Debt consolidation             C3             0.0
142795     Self-employed  Debt consolidation             C5             1.0
363161        Unemployed  Debt consolidation             C2             0.0
553216          Employed  Debt consolidation             C2             1.0
391783        Unemployed               Other             D3             0.0
546833          Employed               Other             D2             1.0
180258        Unemployed  Debt consolidation             C5             0.0
361365        Unemployed           Education             D3             0.0
351981          Employed  Debt consolidation             C2             1.0
428581          Employed  Debt consolidation             C2             1.0
465086          Employed                Home             D3             0.0
122211           Student  Debt consolidation             C5             0.0
372775     Self-employed                Home             C1             1.0
46030           Employed                 Car             C4             1.0
499206          Employed  Debt consolidation             D3             1.0
40132           Employed                Home             D1             1.0
264128          Employed  Debt consolidation             B3             1.0
345288          Employed  Debt consolidation             C3             1.0
241741          Employed  Debt consolidation             B2             1.0

In [ ]:
print(f"Train shape: {train_df.shape}")
print(f"Test shape: {test_df.shape}")
print(train_df['loan_paid_back'].value_counts(normalize=True))

## Feature engineering and preprocessing

We separate the target (`loan_paid_back`) from the predictor columns. Numerical
features will be imputed with the median and scaled, while categorical features will
be imputed with the most frequent value and one-hot encoded. This combined preprocessing
pipeline keeps the feature transformations consistent across any model we evaluate.

In [ ]:
target_col = 'loan_paid_back'
X = train_df.drop(columns=[target_col])
y = train_df[target_col]

numeric_features = X.select_dtypes(include=['int64', 'float64']).columns.tolist()
categorical_features = X.select_dtypes(include=['object']).columns.tolist()

numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='median')),
    ('scaler', StandardScaler())
])

categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('encoder', OneHotEncoder(handle_unknown='ignore'))
])

preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features)
    ]
)

## Model selection using AUC

We benchmark several commonly used classification algorithms, each wrapped in a pipeline
that applies the preprocessing steps defined above. Using stratified 5-fold cross-validation
helps provide a robust estimate of each model's performance. The model with the highest
mean AUC across folds is selected as the best.

In [ ]:
models = {
    'LogisticRegression': LogisticRegression(max_iter=1000),
    'RandomForest': RandomForestClassifier(
        n_estimators=300,
        max_depth=None,
        min_samples_leaf=2,
        random_state=42
    ),
    'GradientBoosting': GradientBoostingClassifier(random_state=42)
}

results = []
skf = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)

for name, model in models.items():
    pipeline = Pipeline(steps=[('preprocessor', preprocessor), ('model', model)])
    scores = cross_val_score(pipeline, X, y, cv=skf, scoring='roc_auc')
    results.append({
        'model': name,
        'mean_auc': scores.mean(),
        'std_auc': scores.std(),
    })

results_df = pd.DataFrame(results).sort_values('mean_auc', ascending=False).reset_index(drop=True)
results_df

In [ ]:
best_model_name = results_df.loc[0, 'model']
best_model = models[best_model_name]
print(f"Best model based on CV AUC: {best_model_name}")

## Fit the best model on the full training data and score the test set

We now refit the pipeline containing the best-performing model on all available training data.
The resulting estimator is then used to generate the probability of `loan_paid_back = 1`
for every row in the test data. These probabilities can be used for downstream evaluation
or submission files.

In [ ]:
best_pipeline = Pipeline(steps=[('preprocessor', preprocessor), ('model', best_model)])
best_pipeline.fit(X, y)

test_probabilities = best_pipeline.predict_proba(test_df)[:, 1]
submission = pd.DataFrame({
    'id': test_df['id'],
    'loan_paid_back': test_probabilities
})
submission.head()

In [ ]:
submission.to_csv('data/best_model_submission.csv', index=False)
print('Saved predictions to data/best_model_submission.csv')